<div class="ps-catalog">
    <PSDepartmentContainer MyDepartment="PACK" PSR1="@PSPackR1" PSR2="@PSPackR2" PSR3="@PSPackR3" PSR4="@PSPackR4"></PSDepartmentContainer>
    <PSDepartmentContainer MyDepartment="PICK" PSR1="@PSPickR1" PSR2="@PSPickR2" PSR3="@PSPickR3" PSR4="@PSPickR4"></PSDepartmentContainer>


</div>




@code {
    [Parameter]
    public List<SimpleProblemSolver> PSPackR1 { get; set; } = new List<SimpleProblemSolver>();

    [Parameter]
    public List<SimpleProblemSolver> PSPackR2 { get; set; } = new List<SimpleProblemSolver>();

    [Parameter]
    public List<SimpleProblemSolver> PSPackR3 { get; set; } = new List<SimpleProblemSolver>();

    [Parameter]
    public List<SimpleProblemSolver> PSPackR4 { get; set; } = new List<SimpleProblemSolver>();

    [Parameter]
    public List<SimpleProblemSolver> PSPickR1 { get; set; } = new List<SimpleProblemSolver>();

    [Parameter]
    public List<SimpleProblemSolver> PSPickR2 { get; set; } = new List<SimpleProblemSolver>();

    [Parameter]
    public List<SimpleProblemSolver> PSPickR3 { get; set; } = new List<SimpleProblemSolver>();

    [Parameter]
    public List<SimpleProblemSolver> PSPickR4 { get; set; } = new List<SimpleProblemSolver>();
}
